body {
  background-color: #f8f9fa;
  font-family: "Segoe UI", sans-serif;
}
.header {
  background-color: #22c1af;
  color: white;
  padding: 1rem 2rem 3rem;
  border-bottom: 5px solid #fcc500;
}
.footer {
  background-color: #22c1af;
  color: white;
  padding: 3rem 1rem 1rem;
  border-top: 5px solid #fcc500;
  position: relative;
  z-index: 1;
}
.sub-date {
  font-size: 1.2rem;
  margin-top: -5px;
  opacity: 0.85;
}

.tab-button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 1;
  flex: 1 1 0; /* Make each tab take equal full width */
  width: 100%;
}

@media (max-width: 600px) {
  .tab-button {
    font-size: 0.85rem;
  }
  .sub-date {
    font-size: 1rem;
  }
}
.tab-button.active {
  font-weight: bold;
}

.date-display-card {
  background-color: white;
  color: #34495e; /* Dark grey for text inside card */
  padding: 2.5rem 1.5rem;
  width: 100%;
  max-width: 600px;
  border-radius: 15px;
  font-size: 3rem;
  margin-top: -3.5rem; /* Overlap with tabs */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 9; /* Ensure it's above the tabs */
}

/* Specific styling for the 'Setelah Maghrib' active tab */
.tab-button.active-after-maghrib {
  background-color: white;
  color: #22c1af; /* Text color for the active tab */
  border-top-right-radius: 15px;
  border-top-left-radius: 0;
  padding-bottom: 2.25rem; /* Extend downwards to meet the card */
  position: relative;
  z-index: 3; /* Make sure it's above the other tab */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Match card shadow */
}
.tab-button.active-before-maghrib {
  background-color: white;
  color: #22c1af;
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  padding-bottom: 2.25rem; /* Extend downwards to meet the card */
  position: relative;
  z-index: 3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Positioning the inactive tab relative to the active tab */
.tab-button.inactive-before-maghrib {
  background-color: transparent;
  border: none;
  color: white;
  z-index: 1;
  padding-bottom: 2.25rem; /* Revert to normal padding */
}
.tab-button.inactive-after-maghrib {
  background-color: transparent;
  border: none;
  color: white;
  z-index: 1;
  padding-bottom: 2.25rem; /* Revert to normal padding */
}

.converter-section {
  background: white;
  margin-top: -30px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}
.explanation-section {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin-bottom: -30px;
  position: relative;
  z-index: 10;
}
.btn-custom {
  background-color: #fcc500;
  color: black;
  border: none;
}
.btn-custom:hover {
  background-color: #e6b800;
}
